/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Bruno Ace', cursive;
    font-size: small; */
    font-family: 'Playfair Display', serif;
}
/*  */

/* INICIO */
.inicio{
    display: flex;
    background-color: #F9BECC;
    flex-direction: row;
    justify-content: space-between;
}
/*  */

/* NAVBAR */
.boton{
    display: flex;
    flex-direction: row;
}

.navegacion{
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  align-items: center;
}

/* .navv{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 7px;
} */

/*  */

/* LOGO */
.logo1{
    width: 150px;
    height: 80px;
}

.logo{
    width: 150px;
    height: 80px;
}

.logom{
    width:50px ;
    height:50px ;
}
/*  */

/* CARRITO */
.carrito{
    display: flex;
    flex-direction: row;
    width: 30px;
    height: 30px;
    margin-right: 50px;
}
/*  */

/* ICONOS SESION */
/* .sesion{
    width: 25px;
    height: 25px;
} */

.intro{
    padding: 20px;
    background-color: black;
    color: white;
}
/*  */

/* ACORDEON, NAVBAR DESPLEGABLE*/
.accordion-body{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.lista{
    margin: 15px;
}

.dropdown-item{
    font-size: x-small;
}

.separador{
    margin-top: 10px;
    list-style: none;
}
/*  */

/* VIDEO YT */
.contenedor{
    display: flex;
    align-items: center;
    justify-content: center;
}

.video{
    border-radius: 20px;
    margin: 20px;
}
/*  */

/* MEDIA QUERY */
@media (max-width:900px) {
    .accordion-body{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }
}

@media (max-width:505px) {
    .inicio{
        display: flex;
        /* flex-direction: column; */
    }

    /* .logo1{
        width: 100%;
        height: 120px;
    }  */

    form{
      width:200px ;
    }
    
    /* .navegacion{
      flex-direction: column;
      justify-content: center;
      gap: 10px;   
    } */

    .navegacion{
      justify-content: center;
      gap: 7px;
    }

    .logom{
      width: 20px;
      height: 20px;
    }

    .video{
      border-radius: 20px;
      margin: 20px;
      height: 180px;
  }

    .contenedor{
        margin-top: 40px;
        margin-bottom: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .video{
        width: 100%;
    }

    .intro{
        padding: 0;
        font-size: small;
    }

    .accordion-body{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}

/*  */


/* BOTON SESION  */
.botones{
    display: flex;
    flex-direction: column;
}
/* CLASE BOTON MODIFICADO */
.button {
    
    border: none;
    display: block;
    position: relative;
    padding: 5px;
    margin: 5px;
    font-size: small;
    background: transparent;
    cursor: pointer;
    user-select: none;
    overflow: hidden;
    /* background-color: rgb(255, 187, 204);; */
    background-color: #A32C37;
    color: rgb(255, 255, 255);
    z-index: 1;
    font-family: inherit;
    font-weight: 500;
  }

  .button2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  .button span {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: -1;
    border: 2px solid rgb(255, 187, 204);
  }
  
  .button span::before {
    content: "";
    display: block;
    position: absolute;
    width: 8%;
    height: 500%;
    background: var(--lightgray);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-60deg);
    transition: all 0.3s;
  }
  
  .button:hover span::before {
    transform: translate(-50%, -50%) rotate(-90deg);
    width: 100%;
    background: rgb(56, 55, 56);
  }
  
  .button:hover {
    color: white;
  }
  
  .button:active span::before {
    background: rgb(255, 187, 204);;
  }
/*  */

/* ICONOS */
ion-icon {
  color: white;
  width: 25px;
  height: 25px;
}
/*  */

/* BOTON WP */
.btn-wsp{
    position:fixed;
    width:60px;
    height:60px;
    line-height: 63px;
    bottom:25px;
    right:25px;
    background:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:35px;
    box-shadow: 0px 1px 10px rgb(255, 255, 255);
    z-index:100;
    transition: all 300ms ease;
  }
  
  .btn-wsp:hover{
    background: #20ba5a;
  }
  @media only screen and (min-width:320px) and (max-width:600px){
    .btn-wsp{
        width:40px;
        height:40px;
        line-height: 35px;
  }
  }
  /*  */

  /* FOOTER */
  #footer{
    /* background-color: #ffffff; */
    background-color: #F9BECC;
    color: rgb(0, 0, 0);
  }
  
  #acomodar{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .blanco{
    color: #FFF;
  }
  
  
  #piePagina{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  /* a:link, a:visited, a:active {
    text-decoration:none;
    color: white;
    font-size: small;
  } */

#link{
    text-decoration:none
  }
  
  /*  */
  
  
  /* CARD */
  .seccionProductos{
    margin: 10px;
    gap: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .producto{
    width: 170px;
    height: 170px;
  }

  .card2 {
    width: 190px;
    height: 350px;
    padding: .8em;
    background: #f5f5f5;
    position: relative;
    overflow: visible;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
   }
   
   .card2-img {
    background-image: #ffcaa6;
    height: 40%;
    width: 100%;
    border-radius: .5rem;
    transition: .3s ease;
   }
   
   .card2-info {
    margin-top: 19px;
    padding-top: 10%;
   }
   
   svg {
    width: 20px;
    height: 20px;
   }
   
   .card2-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    border-top: 1px solid #ddd;
   }
   
   /*Text*/
   .text-title {
    font-weight: 900;
    font-size: 1.2em;
    line-height: 1.5;
   }
   
   .text-body {
    font-size: .9em;
    padding-bottom: 10px;
   }
   
   /*Button*/
   .card2-button {
    border: 1px solid #252525;
    display: flex;
    padding: .3em;
    cursor: pointer;
    border-radius: 50px;
    transition: .3s ease-in-out;
   }
   
   /*Hover*/
   .card2-img:hover {
    transform: translateY(-25%);
    box-shadow: rgba(226, 196, 63, 0.25) 0px 13px 47px -5px, rgba(180, 71, 71, 0.3) 0px 8px 16px -8px;
   }
   
   .card2-button:hover {
    border: 1px solid #ffcaa6;
    background-color: #ffcaa6;
   }
   
  /*  */
  